@charset "utf-8";
body {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;	
}
.band-hero {
	background-color: #757575;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover;
	background-image: url(images/background-building.jpg);
}
.band-whoweare {
	background-color: #EA6D61;
	padding-top: 100px;
	padding-bottom: 100px;
}
.band-services {
	background-color: #502652;
	padding-top: 100px;
	padding-bottom: 100px;
}
.band-portfolio {
	background-color: #F8BB62;
	padding-top: 100px;
	padding-bottom: 100px;
}.band-footer {
	background-color: #4B4B4B;
	padding-top: 100px;
	padding-bottom: 100px;
}
h1 {
	color: #F8BB62;
	font-size: 48px;
	font-style: normal;
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
}
p {
	color: #FFFFFF;
}
.text-first-para {
	font-size: 20px;
}

h2 {
	font-size: 53px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
a:link {
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #101CF0;
}
.footer-link:hover {
	color: #F3090D;
}



.text-option1 {
	font-size: 29px;
	font-weight: 300;
}
.footer-link {
	color:#E7DE05;
}
.navbar-default {
	background-color: rgba(0,0,0,0.80);
	border-color: rgba(0,0,0,0.80);
	
}.nav li a:link {
	color: rgba(255,255,255,1.00);
}
.navbar   {
	width: auto;
	height: 60px;
}
.tex-div {
	background-color: rgba(0,0,0,0.54);
	position: absolute;
	left: 35px;
	bottom: 15px;
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-size: 16px;
	font-weight: 300;
}

@media (max-width:767px){
}


@media (min-width:768px) and (max-width:991px){
}

@media (max-width:992px){
}
